body {
    color: #010101 !important;
}

.text-third, .context-dark .text-third {
    color: #cf001f;
}

.section-background {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

#myCarousel {
    --f-carousel-slide-height: 100%;
    --f-carousel-spacing: 0px;
    --f-progress-color: #ff3520;
}

.f-carousel__dots {
    display: none !important;
}

.fullscreen-height {
    height:100vh;
    min-height: 800px;
}

.bg-cover-section {
    background-size: cover;
    background-position: bottom;
}

.bg-image-section {
    background-repeat: no-repeat;
}

.bg-image-section-efx-grey,
.bg-image-section-efx-white {
    position: relative;
}

.bg-image-section-efx-grey:before,
.bg-image-section-efx-white:before {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bg-image-section-efx-grey:before {
    background: rgb(142,142,142);
    background: linear-gradient(180deg, rgba(142,142,142,0.2) 0%, rgba(255,255,255,0.1) 100%);
}

.bg-image-section-efx-white:before {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 100%);
}

.rd-navbar-classic.rd-navbar-static .rd-navbar-brand img {
    max-width: 280px;
}

.listing {
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.listing ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.listing li {
    position: relative;
    margin: 20px 0;
    padding-left: 40px; /* Adjusted for icon width + margin */
}

.listing li:first-child {
    margin-top: 0;
}

.listing li:last-child {
    margin-bottom: 0;
}

.cog-listing li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 25px;
    height: 25px;
    background-image: url('../images/matec-images/matec-05.png');
    background-size: contain;
}

.embedded-image {
    float: right;
    max-width: 40%;
    height: auto;
    margin: 20px 0 20px 40px;
}

.icon-rect.icon-white {
	color: #15162b;
}

.block-address .icon-rect.icon-white[class*='facebook'],
.block-address .icon-rect.icon-white[class*='twitter'],
.block-address .icon-rect.icon-white[class*='linkedin'],
.block-address .icon-rect.icon-white[class*='youtube'],
.block-address .icon-rect.icon-white[class*='instagram'] {
	color: #ffffff;
}

.block-address .icon-rect.icon-white[class*='facebook']:hover,
.block-address .icon-rect.icon-white[class*='twitter']:hover,
.block-address .icon-rect.icon-white[class*='linkedin']:hover,
.block-address .icon-rect.icon-white[class*='youtube']:hover,
.block-address .icon-rect.icon-white[class*='instagram']:hover {
	color: #ffffff;
}

.block-address .icon-rect.icon-white:after {
	background-image: -webkit-linear-gradient(left, #1c1973 0%, #1c1973 100%);
	background-image: linear-gradient(to right, #1c1973 0%, #1c1973 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEF7630', endColorstr='#FFF09922', GradientType=1);
}

.block-address .icon-rect.icon-white,
.block-address .icon-rect.icon-white:focus,
.block-address .icon-rect.icon-white:active {
	color: #ffffff;
	background-color: #15162b;
}

.block-address .icon-rect.icon-white:hover {
	color: #ffffff;
}

.parallax-overlay-gradient-primary:before, .parallax-overlay-gradient-primary-1:before {
	background-image: -webkit-linear-gradient(left, #822ea8 0%, #d90e90 100%);
	background-image: linear-gradient(to right, #822ea8 0%, #d90e90 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF822EA8', endColorstr='#FFD90E90', GradientType=1);
}

.parallax-overlay-gradient-primary:after, .parallax-overlay-gradient-primary-1:after {
	background-image: -webkit-linear-gradient(left, #d90e90 0%, #822ea8 100%);
	background-image: linear-gradient(to right, #d90e90 0%, #822ea8 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD90E90', endColorstr='#FF822EA8', GradientType=1);
	animation: fadeBoth 6s infinite;
}

.box-location.flex,
.box-img.flex {
    display:flex;
    flex-direction:column;
    flex:1;
}

.section-collapse-body {
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.popup-width {
    max-width: 1200px;
}

.button-primary-blue:before {
	z-index: -2;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: .3s ease-out all;
}

.button-primary-blue:before {
    background-image: -webkit-linear-gradient(left, #2D5CA8 0%, #2D5CA8 100%);
    background-image: linear-gradient(to right, #2D5CA8 0%, #2D5CA8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF822EA8', endColorstr='#FFD90E90', GradientType=1);
}

.navbar-fixed-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    richness: 0;
    z-index: 9;
    background-color: #000000;
    box-shadow: 0px 0px 70px -2px rgba(33,33,33,0.65);
    -webkit-box-shadow: 0px 0px 70px -2px rgba(33,33,33,0.65);
    -moz-box-shadow: 0px 0px 70px -2px rgba(33,33,33,0.65);
}

.ui-to-top {
    /*bottom: 85px;*/
}

.box-counter-title.text-red {
    color: #ff3520 !important;
}

.video-link-bg {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(left, #2D5CA8 0%, #2D5CA8 100%);
    background-image: linear-gradient(to right, #2D5CA8 0%, #2D5CA8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEF7630', endColorstr='#FFF09922', GradientType=1);
    border-radius: 50%;
}

.excitement-image-container .image {
    max-width:65%;
    display: block;
    margin: 0 auto;
}

.box-img.fl {
    /*padding: 1rem 1rem;*/
    border: 2px solid darkgray;
    /*box-sizing: border-box;*/
    /*margin: 5px;*/
    border-radius: 10px;
}

.rd-navbar-static {
    z-index: 1050;
}

.btn-link:hover {
    color: #c70000;
}

.bg-image-section-efx-white:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
    z-index: 0;
}

.svg-icon-primary {
	fill: url("#svg-gradient-primary") #c70000 !important;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    color: #ffffff;
    background: #c70000;
    border-color: #c70000;
}
 


@media only screen and (max-width : 991px) {
    .rd-navbar-fixed .rd-navbar-panel {
        background: #000000;
        z-index: 1050;
    }

    .countdown-block {
        flex-basis: 19%;
        width: 19%;
    }

    .countdown-title {
        text-align: center;
        font-size: 12px;
    }

    .fullscreen-height {
        height: auto;
    }

    .embedded-image {
        float: none;
        max-width: 100%;
        margin: 0;
    }

    .popup-width {
        max-width: 95%;
    }

    .excitement-image-container .image {
        max-width:65%;
    }

    .box-img.fl {
        /*padding: 1rem 1rem;*/
        border: 2px solid darkgray;
        /*box-sizing: border-box;*/
        /*margin: 15px;*/
        border-radius: 10px;
    }
    .box-location.flex {
        height: auto !important;
    }

    .ui-to-top {
        bottom: 85px;
    }
    .section-lg {
        padding: 80px 0;
    }
    
    
    
}

.w-0px {
    width: 0 !important;
}
.w-xs-0px {
    width: 0 !important;
}
@media (min-width: 576px) {
    .w-sm-0px {
        width: 0 !important;
    }
}
@media (min-width: 768px) {
    .w-md-0px {
        width: 0 !important;
    }
}
@media (min-width: 992px) {
    .w-lg-0px {
        width: 0 !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-0px {
        width: 0 !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-0px {
        width: 0 !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-0px {
        width: 0 !important;
    }
}
.w-50px {
    width: 50px !important;
}
.w-xs-50px {
    width: 50px !important;
}
@media (min-width: 576px) {
    .w-sm-50px {
        width: 50px !important;
    }
}
@media (min-width: 768px) {
    .w-md-50px {
        width: 50px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-50px {
        width: 50px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-50px {
        width: 50px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-50px {
        width: 50px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-50px {
        width: 50px !important;
    }
}
.w-100px {
    width: 100px !important;
}
.w-xs-100px {
    width: 100px !important;
}
@media (min-width: 576px) {
    .w-sm-100px {
        width: 100px !important;
    }
}
@media (min-width: 768px) {
    .w-md-100px {
        width: 100px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-100px {
        width: 100px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-100px {
        width: 100px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-100px {
        width: 100px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-100px {
        width: 100px !important;
    }
}
.w-150px {
    width: 150px !important;
}
.w-xs-150px {
    width: 150px !important;
}
@media (min-width: 576px) {
    .w-sm-150px {
        width: 150px !important;
    }
}
@media (min-width: 768px) {
    .w-md-150px {
        width: 150px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-150px {
        width: 150px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-150px {
        width: 150px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-150px {
        width: 150px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-150px {
        width: 150px !important;
    }
}
.w-200px {
    width: 200px !important;
}
.w-xs-200px {
    width: 200px !important;
}
@media (min-width: 576px) {
    .w-sm-200px {
        width: 200px !important;
    }
}
@media (min-width: 768px) {
    .w-md-200px {
        width: 200px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-200px {
        width: 200px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-200px {
        width: 200px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-200px {
        width: 200px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-200px {
        width: 200px !important;
    }
}
.w-250px {
    width: 250px !important;
}
.w-xs-250px {
    width: 250px !important;
}
@media (min-width: 576px) {
    .w-sm-250px {
        width: 250px !important;
    }
}
@media (min-width: 768px) {
    .w-md-250px {
        width: 250px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-250px {
        width: 250px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-250px {
        width: 250px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-250px {
        width: 250px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-250px {
        width: 250px !important;
    }
}
.w-300px {
    width: 300px !important;
}
.w-xs-300px {
    width: 300px !important;
}
@media (min-width: 576px) {
    .w-sm-300px {
        width: 300px !important;
    }
}
@media (min-width: 768px) {
    .w-md-300px {
        width: 300px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-300px {
        width: 300px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-300px {
        width: 300px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-300px {
        width: 300px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-300px {
        width: 300px !important;
    }
}
.w-350px {
    width: 350px !important;
}
.w-xs-350px {
    width: 350px !important;
}
@media (min-width: 576px) {
    .w-sm-350px {
        width: 350px !important;
    }
}
@media (min-width: 768px) {
    .w-md-350px {
        width: 350px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-350px {
        width: 350px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-350px {
        width: 350px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-350px {
        width: 350px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-350px {
        width: 350px !important;
    }
}
.w-400px {
    width: 400px !important;
}
.w-xs-400px {
    width: 400px !important;
}
@media (min-width: 576px) {
    .w-sm-400px {
        width: 400px !important;
    }
}
@media (min-width: 768px) {
    .w-md-400px {
        width: 400px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-400px {
        width: 400px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-400px {
        width: 400px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-400px {
        width: 400px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-400px {
        width: 400px !important;
    }
}
.w-450px {
    width: 450px !important;
}
.w-xs-450px {
    width: 450px !important;
}
@media (min-width: 576px) {
    .w-sm-450px {
        width: 450px !important;
    }
}
@media (min-width: 768px) {
    .w-md-450px {
        width: 450px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-450px {
        width: 450px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-450px {
        width: 450px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-450px {
        width: 450px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-450px {
        width: 450px !important;
    }
}
.w-500px {
    width: 500px !important;
}
.w-xs-500px {
    width: 500px !important;
}
@media (min-width: 576px) {
    .w-sm-500px {
        width: 500px !important;
    }
}
@media (min-width: 768px) {
    .w-md-500px {
        width: 500px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-500px {
        width: 500px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-500px {
        width: 500px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-500px {
        width: 500px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-500px {
        width: 500px !important;
    }
}
.w-550px {
    width: 550px !important;
}
.w-xs-550px {
    width: 550px !important;
}
@media (min-width: 576px) {
    .w-sm-550px {
        width: 550px !important;
    }
}
@media (min-width: 768px) {
    .w-md-550px {
        width: 550px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-550px {
        width: 550px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-550px {
        width: 550px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-550px {
        width: 550px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-550px {
        width: 550px !important;
    }
}
.w-600px {
    width: 600px !important;
}
.w-xs-600px {
    width: 600px !important;
}
@media (min-width: 576px) {
    .w-sm-600px {
        width: 600px !important;
    }
}
@media (min-width: 768px) {
    .w-md-600px {
        width: 600px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-600px {
        width: 600px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-600px {
        width: 600px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-600px {
        width: 600px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-600px {
        width: 600px !important;
    }
}
.w-5px {
    width: 5px !important;
}
.w-xs-5px {
    width: 5px !important;
}
@media (min-width: 576px) {
    .w-sm-5px {
        width: 5px !important;
    }
}
@media (min-width: 768px) {
    .w-md-5px {
        width: 5px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-5px {
        width: 5px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-5px {
        width: 5px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-5px {
        width: 5px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-5px {
        width: 5px !important;
    }
}
.w-10px {
    width: 10px !important;
}
.w-xs-10px {
    width: 10px !important;
}
@media (min-width: 576px) {
    .w-sm-10px {
        width: 10px !important;
    }
}
@media (min-width: 768px) {
    .w-md-10px {
        width: 10px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-10px {
        width: 10px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-10px {
        width: 10px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-10px {
        width: 10px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-10px {
        width: 10px !important;
    }
}
.w-15px {
    width: 15px !important;
}
.w-xs-15px {
    width: 15px !important;
}
@media (min-width: 576px) {
    .w-sm-15px {
        width: 15px !important;
    }
}
@media (min-width: 768px) {
    .w-md-15px {
        width: 15px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-15px {
        width: 15px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-15px {
        width: 15px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-15px {
        width: 15px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-15px {
        width: 15px !important;
    }
}
.w-20px {
    width: 20px !important;
}
.w-xs-20px {
    width: 20px !important;
}
@media (min-width: 576px) {
    .w-sm-20px {
        width: 20px !important;
    }
}
@media (min-width: 768px) {
    .w-md-20px {
        width: 20px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-20px {
        width: 20px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-20px {
        width: 20px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-20px {
        width: 20px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-20px {
        width: 20px !important;
    }
}
.w-25px {
    width: 25px !important;
}
.w-xs-25px {
    width: 25px !important;
}
@media (min-width: 576px) {
    .w-sm-25px {
        width: 25px !important;
    }
}
@media (min-width: 768px) {
    .w-md-25px {
        width: 25px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-25px {
        width: 25px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-25px {
        width: 25px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-25px {
        width: 25px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-25px {
        width: 25px !important;
    }
}
.w-30px {
    width: 30px !important;
}
.w-xs-30px {
    width: 30px !important;
}
@media (min-width: 576px) {
    .w-sm-30px {
        width: 30px !important;
    }
}
@media (min-width: 768px) {
    .w-md-30px {
        width: 30px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-30px {
        width: 30px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-30px {
        width: 30px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-30px {
        width: 30px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-30px {
        width: 30px !important;
    }
}
.w-35px {
    width: 35px !important;
}
.w-xs-35px {
    width: 35px !important;
}
@media (min-width: 576px) {
    .w-sm-35px {
        width: 35px !important;
    }
}
@media (min-width: 768px) {
    .w-md-35px {
        width: 35px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-35px {
        width: 35px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-35px {
        width: 35px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-35px {
        width: 35px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-35px {
        width: 35px !important;
    }
}
.w-40px {
    width: 40px !important;
}
.w-xs-40px {
    width: 40px !important;
}
@media (min-width: 576px) {
    .w-sm-40px {
        width: 40px !important;
    }
}
@media (min-width: 768px) {
    .w-md-40px {
        width: 40px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-40px {
        width: 40px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-40px {
        width: 40px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-40px {
        width: 40px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-40px {
        width: 40px !important;
    }
}
.w-45px {
    width: 45px !important;
}
.w-xs-45px {
    width: 45px !important;
}
@media (min-width: 576px) {
    .w-sm-45px {
        width: 45px !important;
    }
}
@media (min-width: 768px) {
    .w-md-45px {
        width: 45px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-45px {
        width: 45px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-45px {
        width: 45px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-45px {
        width: 45px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-45px {
        width: 45px !important;
    }
}
.w-50px {
    width: 50px !important;
}
.w-xs-50px {
    width: 50px !important;
}
@media (min-width: 576px) {
    .w-sm-50px {
        width: 50px !important;
    }
}
@media (min-width: 768px) {
    .w-md-50px {
        width: 50px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-50px {
        width: 50px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-50px {
        width: 50px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-50px {
        width: 50px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-50px {
        width: 50px !important;
    }
}
.w-55px {
    width: 55px !important;
}
.w-xs-55px {
    width: 55px !important;
}
@media (min-width: 576px) {
    .w-sm-55px {
        width: 55px !important;
    }
}
@media (min-width: 768px) {
    .w-md-55px {
        width: 55px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-55px {
        width: 55px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-55px {
        width: 55px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-55px {
        width: 55px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-55px {
        width: 55px !important;
    }
}
.w-60px {
    width: 60px !important;
}
.w-xs-60px {
    width: 60px !important;
}
@media (min-width: 576px) {
    .w-sm-60px {
        width: 60px !important;
    }
}
@media (min-width: 768px) {
    .w-md-60px {
        width: 60px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-60px {
        width: 60px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-60px {
        width: 60px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-60px {
        width: 60px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-60px {
        width: 60px !important;
    }
}
.w-65px {
    width: 65px !important;
}
.w-xs-65px {
    width: 65px !important;
}
@media (min-width: 576px) {
    .w-sm-65px {
        width: 65px !important;
    }
}
@media (min-width: 768px) {
    .w-md-65px {
        width: 65px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-65px {
        width: 65px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-65px {
        width: 65px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-65px {
        width: 65px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-65px {
        width: 65px !important;
    }
}
.w-70px {
    width: 70px !important;
}
.w-xs-70px {
    width: 70px !important;
}
@media (min-width: 576px) {
    .w-sm-70px {
        width: 70px !important;
    }
}
@media (min-width: 768px) {
    .w-md-70px {
        width: 70px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-70px {
        width: 70px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-70px {
        width: 70px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-70px {
        width: 70px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-70px {
        width: 70px !important;
    }
}
.w-75px {
    width: 75px !important;
}
.w-xs-75px {
    width: 75px !important;
}
@media (min-width: 576px) {
    .w-sm-75px {
        width: 75px !important;
    }
}
@media (min-width: 768px) {
    .w-md-75px {
        width: 75px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-75px {
        width: 75px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-75px {
        width: 75px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-75px {
        width: 75px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-75px {
        width: 75px !important;
    }
}
.w-80px {
    width: 80px !important;
}
.w-xs-80px {
    width: 80px !important;
}
@media (min-width: 576px) {
    .w-sm-80px {
        width: 80px !important;
    }
}
@media (min-width: 768px) {
    .w-md-80px {
        width: 80px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-80px {
        width: 80px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-80px {
        width: 80px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-80px {
        width: 80px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-80px {
        width: 80px !important;
    }
}
.w-85px {
    width: 85px !important;
}
.w-xs-85px {
    width: 85px !important;
}
@media (min-width: 576px) {
    .w-sm-85px {
        width: 85px !important;
    }
}
@media (min-width: 768px) {
    .w-md-85px {
        width: 85px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-85px {
        width: 85px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-85px {
        width: 85px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-85px {
        width: 85px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-85px {
        width: 85px !important;
    }
}
.w-90px {
    width: 90px !important;
}
.w-xs-90px {
    width: 90px !important;
}
@media (min-width: 576px) {
    .w-sm-90px {
        width: 90px !important;
    }
}
@media (min-width: 768px) {
    .w-md-90px {
        width: 90px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-90px {
        width: 90px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-90px {
        width: 90px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-90px {
        width: 90px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-90px {
        width: 90px !important;
    }
}
.w-95px {
    width: 95px !important;
}
.w-xs-95px {
    width: 95px !important;
}
@media (min-width: 576px) {
    .w-sm-95px {
        width: 95px !important;
    }
}
@media (min-width: 768px) {
    .w-md-95px {
        width: 95px !important;
    }
}
@media (min-width: 992px) {
    .w-lg-95px {
        width: 95px !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-95px {
        width: 95px !important;
    }
}
@media (min-width: 1400px) {
    .w-xxl-95px {
        width: 95px !important;
    }
}
@media (min-width: 1800px) {
    .w-xxxl-95px {
        width: 95px !important;
    }
}

.h-0px {
    height: 0 !important;
}
.h-xs-0px {
    height: 0 !important;
}
@media (min-width: 576px) {
    .h-sm-0px {
        height: 0 !important;
    }
}
@media (min-width: 768px) {
    .h-md-0px {
        height: 0 !important;
    }
}
@media (min-width: 992px) {
    .h-lg-0px {
        height: 0 !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-0px {
        height: 0 !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-0px {
        height: 0 !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-0px {
        height: 0 !important;
    }
}
.h-50px {
    height: 50px !important;
}
.h-xs-50px {
    height: 50px !important;
}
@media (min-width: 576px) {
    .h-sm-50px {
        height: 50px !important;
    }
}
@media (min-width: 768px) {
    .h-md-50px {
        height: 50px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-50px {
        height: 50px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-50px {
        height: 50px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-50px {
        height: 50px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-50px {
        height: 50px !important;
    }
}
.h-100px {
    height: 100px !important;
}
.h-xs-100px {
    height: 100px !important;
}
@media (min-width: 576px) {
    .h-sm-100px {
        height: 100px !important;
    }
}
@media (min-width: 768px) {
    .h-md-100px {
        height: 100px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-100px {
        height: 100px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-100px {
        height: 100px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-100px {
        height: 100px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-100px {
        height: 100px !important;
    }
}
.h-150px {
    height: 150px !important;
}
.h-xs-150px {
    height: 150px !important;
}
@media (min-width: 576px) {
    .h-sm-150px {
        height: 150px !important;
    }
}
@media (min-width: 768px) {
    .h-md-150px {
        height: 150px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-150px {
        height: 150px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-150px {
        height: 150px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-150px {
        height: 150px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-150px {
        height: 150px !important;
    }
}
.h-200px {
    height: 200px !important;
}
.h-xs-200px {
    height: 200px !important;
}
@media (min-width: 576px) {
    .h-sm-200px {
        height: 200px !important;
    }
}
@media (min-width: 768px) {
    .h-md-200px {
        height: 200px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-200px {
        height: 200px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-200px {
        height: 200px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-200px {
        height: 200px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-200px {
        height: 200px !important;
    }
}
.h-250px {
    height: 250px !important;
}
.h-xs-250px {
    height: 250px !important;
}
@media (min-width: 576px) {
    .h-sm-250px {
        height: 250px !important;
    }
}
@media (min-width: 768px) {
    .h-md-250px {
        height: 250px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-250px {
        height: 250px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-250px {
        height: 250px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-250px {
        height: 250px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-250px {
        height: 250px !important;
    }
}
.h-300px {
    height: 300px !important;
}
.h-xs-300px {
    height: 300px !important;
}
@media (min-width: 576px) {
    .h-sm-300px {
        height: 300px !important;
    }
}
@media (min-width: 768px) {
    .h-md-300px {
        height: 300px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-300px {
        height: 300px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-300px {
        height: 300px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-300px {
        height: 300px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-300px {
        height: 300px !important;
    }
}
.h-350px {
    height: 350px !important;
}
.h-xs-350px {
    height: 350px !important;
}
@media (min-width: 576px) {
    .h-sm-350px {
        height: 350px !important;
    }
}
@media (min-width: 768px) {
    .h-md-350px {
        height: 350px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-350px {
        height: 350px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-350px {
        height: 350px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-350px {
        height: 350px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-350px {
        height: 350px !important;
    }
}
.h-400px {
    height: 400px !important;
}
.h-xs-400px {
    height: 400px !important;
}
@media (min-width: 576px) {
    .h-sm-400px {
        height: 400px !important;
    }
}
@media (min-width: 768px) {
    .h-md-400px {
        height: 400px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-400px {
        height: 400px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-400px {
        height: 400px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-400px {
        height: 400px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-400px {
        height: 400px !important;
    }
}
.h-450px {
    height: 450px !important;
}
.h-xs-450px {
    height: 450px !important;
}
@media (min-width: 576px) {
    .h-sm-450px {
        height: 450px !important;
    }
}
@media (min-width: 768px) {
    .h-md-450px {
        height: 450px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-450px {
        height: 450px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-450px {
        height: 450px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-450px {
        height: 450px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-450px {
        height: 450px !important;
    }
}
.h-500px {
    height: 500px !important;
}
.h-xs-500px {
    height: 500px !important;
}
@media (min-width: 576px) {
    .h-sm-500px {
        height: 500px !important;
    }
}
@media (min-width: 768px) {
    .h-md-500px {
        height: 500px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-500px {
        height: 500px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-500px {
        height: 500px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-500px {
        height: 500px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-500px {
        height: 500px !important;
    }
}
.h-550px {
    height: 550px !important;
}
.h-xs-550px {
    height: 550px !important;
}
@media (min-width: 576px) {
    .h-sm-550px {
        height: 550px !important;
    }
}
@media (min-width: 768px) {
    .h-md-550px {
        height: 550px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-550px {
        height: 550px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-550px {
        height: 550px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-550px {
        height: 550px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-550px {
        height: 550px !important;
    }
}
.h-600px {
    height: 600px !important;
}
.h-xs-600px {
    height: 600px !important;
}
@media (min-width: 576px) {
    .h-sm-600px {
        height: 600px !important;
    }
}
@media (min-width: 768px) {
    .h-md-600px {
        height: 600px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-600px {
        height: 600px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-600px {
        height: 600px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-600px {
        height: 600px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-600px {
        height: 600px !important;
    }
}
.h-5px {
    height: 5px !important;
}
.h-xs-5px {
    height: 5px !important;
}
@media (min-width: 576px) {
    .h-sm-5px {
        height: 5px !important;
    }
}
@media (min-width: 768px) {
    .h-md-5px {
        height: 5px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-5px {
        height: 5px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-5px {
        height: 5px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-5px {
        height: 5px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-5px {
        height: 5px !important;
    }
}
.h-10px {
    height: 10px !important;
}
.h-xs-10px {
    height: 10px !important;
}
@media (min-width: 576px) {
    .h-sm-10px {
        height: 10px !important;
    }
}
@media (min-width: 768px) {
    .h-md-10px {
        height: 10px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-10px {
        height: 10px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-10px {
        height: 10px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-10px {
        height: 10px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-10px {
        height: 10px !important;
    }
}
.h-15px {
    height: 15px !important;
}
.h-xs-15px {
    height: 15px !important;
}
@media (min-width: 576px) {
    .h-sm-15px {
        height: 15px !important;
    }
}
@media (min-width: 768px) {
    .h-md-15px {
        height: 15px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-15px {
        height: 15px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-15px {
        height: 15px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-15px {
        height: 15px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-15px {
        height: 15px !important;
    }
}
.h-20px {
    height: 20px !important;
}
.h-xs-20px {
    height: 20px !important;
}
@media (min-width: 576px) {
    .h-sm-20px {
        height: 20px !important;
    }
}
@media (min-width: 768px) {
    .h-md-20px {
        height: 20px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-20px {
        height: 20px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-20px {
        height: 20px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-20px {
        height: 20px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-20px {
        height: 20px !important;
    }
}
.h-25px {
    height: 25px !important;
}
.h-xs-25px {
    height: 25px !important;
}
@media (min-width: 576px) {
    .h-sm-25px {
        height: 25px !important;
    }
}
@media (min-width: 768px) {
    .h-md-25px {
        height: 25px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-25px {
        height: 25px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-25px {
        height: 25px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-25px {
        height: 25px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-25px {
        height: 25px !important;
    }
}
.h-30px {
    height: 30px !important;
}
.h-xs-30px {
    height: 30px !important;
}
@media (min-width: 576px) {
    .h-sm-30px {
        height: 30px !important;
    }
}
@media (min-width: 768px) {
    .h-md-30px {
        height: 30px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-30px {
        height: 30px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-30px {
        height: 30px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-30px {
        height: 30px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-30px {
        height: 30px !important;
    }
}
.h-35px {
    height: 35px !important;
}
.h-xs-35px {
    height: 35px !important;
}
@media (min-width: 576px) {
    .h-sm-35px {
        height: 35px !important;
    }
}
@media (min-width: 768px) {
    .h-md-35px {
        height: 35px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-35px {
        height: 35px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-35px {
        height: 35px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-35px {
        height: 35px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-35px {
        height: 35px !important;
    }
}
.h-40px {
    height: 40px !important;
}
.h-xs-40px {
    height: 40px !important;
}
@media (min-width: 576px) {
    .h-sm-40px {
        height: 40px !important;
    }
}
@media (min-width: 768px) {
    .h-md-40px {
        height: 40px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-40px {
        height: 40px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-40px {
        height: 40px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-40px {
        height: 40px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-40px {
        height: 40px !important;
    }
}
.h-45px {
    height: 45px !important;
}
.h-xs-45px {
    height: 45px !important;
}
@media (min-width: 576px) {
    .h-sm-45px {
        height: 45px !important;
    }
}
@media (min-width: 768px) {
    .h-md-45px {
        height: 45px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-45px {
        height: 45px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-45px {
        height: 45px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-45px {
        height: 45px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-45px {
        height: 45px !important;
    }
}
.h-50px {
    height: 50px !important;
}
.h-xs-50px {
    height: 50px !important;
}
@media (min-width: 576px) {
    .h-sm-50px {
        height: 50px !important;
    }
}
@media (min-width: 768px) {
    .h-md-50px {
        height: 50px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-50px {
        height: 50px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-50px {
        height: 50px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-50px {
        height: 50px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-50px {
        height: 50px !important;
    }
}
.h-55px {
    height: 55px !important;
}
.h-xs-55px {
    height: 55px !important;
}
@media (min-width: 576px) {
    .h-sm-55px {
        height: 55px !important;
    }
}
@media (min-width: 768px) {
    .h-md-55px {
        height: 55px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-55px {
        height: 55px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-55px {
        height: 55px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-55px {
        height: 55px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-55px {
        height: 55px !important;
    }
}
.h-60px {
    height: 60px !important;
}
.h-xs-60px {
    height: 60px !important;
}
@media (min-width: 576px) {
    .h-sm-60px {
        height: 60px !important;
    }
}
@media (min-width: 768px) {
    .h-md-60px {
        height: 60px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-60px {
        height: 60px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-60px {
        height: 60px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-60px {
        height: 60px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-60px {
        height: 60px !important;
    }
}
.h-65px {
    height: 65px !important;
}
.h-xs-65px {
    height: 65px !important;
}
@media (min-width: 576px) {
    .h-sm-65px {
        height: 65px !important;
    }
}
@media (min-width: 768px) {
    .h-md-65px {
        height: 65px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-65px {
        height: 65px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-65px {
        height: 65px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-65px {
        height: 65px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-65px {
        height: 65px !important;
    }
}
.h-70px {
    height: 70px !important;
}
.h-xs-70px {
    height: 70px !important;
}
@media (min-width: 576px) {
    .h-sm-70px {
        height: 70px !important;
    }
}
@media (min-width: 768px) {
    .h-md-70px {
        height: 70px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-70px {
        height: 70px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-70px {
        height: 70px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-70px {
        height: 70px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-70px {
        height: 70px !important;
    }
}
.h-75px {
    height: 75px !important;
}
.h-xs-75px {
    height: 75px !important;
}
@media (min-width: 576px) {
    .h-sm-75px {
        height: 75px !important;
    }
}
@media (min-width: 768px) {
    .h-md-75px {
        height: 75px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-75px {
        height: 75px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-75px {
        height: 75px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-75px {
        height: 75px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-75px {
        height: 75px !important;
    }
}
.h-80px {
    height: 80px !important;
}
.h-xs-80px {
    height: 80px !important;
}
@media (min-width: 576px) {
    .h-sm-80px {
        height: 80px !important;
    }
}
@media (min-width: 768px) {
    .h-md-80px {
        height: 80px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-80px {
        height: 80px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-80px {
        height: 80px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-80px {
        height: 80px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-80px {
        height: 80px !important;
    }
}
.h-85px {
    height: 85px !important;
}
.h-xs-85px {
    height: 85px !important;
}
@media (min-width: 576px) {
    .h-sm-85px {
        height: 85px !important;
    }
}
@media (min-width: 768px) {
    .h-md-85px {
        height: 85px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-85px {
        height: 85px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-85px {
        height: 85px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-85px {
        height: 85px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-85px {
        height: 85px !important;
    }
}
.h-90px {
    height: 90px !important;
}
.h-xs-90px {
    height: 90px !important;
}
@media (min-width: 576px) {
    .h-sm-90px {
        height: 90px !important;
    }
}
@media (min-width: 768px) {
    .h-md-90px {
        height: 90px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-90px {
        height: 90px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-90px {
        height: 90px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-90px {
        height: 90px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-90px {
        height: 90px !important;
    }
}
.h-95px {
    height: 95px !important;
}
.h-xs-95px {
    height: 95px !important;
}
@media (min-width: 576px) {
    .h-sm-95px {
        height: 95px !important;
    }
}
@media (min-width: 768px) {
    .h-md-95px {
        height: 95px !important;
    }
}
@media (min-width: 992px) {
    .h-lg-95px {
        height: 95px !important;
    }
}
@media (min-width: 1200px) {
    .h-xl-95px {
        height: 95px !important;
    }
}
@media (min-width: 1400px) {
    .h-xxl-95px {
        height: 95px !important;
    }
}
@media (min-width: 1800px) {
    .h-xxxl-95px {
        height: 95px !important;
    }
}

